#create-inventory-header {
    text-align: center;
    font-size: 70px;
    color: var(--primary-color);
    padding-bottom: 30px;
}

.create-inventory-form {
    background-color: var(--primary-color);
    width: 50%;
    height: 470px;
    margin: auto;
}

::placeholder {
    color: var(--primary-color);
}

.save-button, .cancel-button {
    padding-left: 10px;
    flex-direction: row;
    display: flex;
    width: 80px;
    height: 40px;
    margin-top: 40px;
    text-align: center;
}

.save-button:hover {
    background-color: var(--primary-color);
    color: var(--navbar-accent-color);
}

input, select{
    width: 200px;
    height: 40px;
    border: none;
    background-color: white;
    color:var(--primary-color);
}

label {
    font-size:var(--text-font-size) ;
    color: white;
    display: block;
    width: 200px;
    height: 40px;
    margin-top: 30px;
}

.top-area,.bottom-area {
    padding-top: 5px;
}

.two-button {
    display: flex;
}

.product-segment{
    flex-direction: column;
    display: block;
    width: 100%;
}









