<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/create-inventory.css">
    <title>Create Inventory</title>
</head>

<body>
<!--Navbar-->
<div class="navbar">
    <img id="gasoline_logo" src="/static/images/gasoline-logo.png" alt="gasoline grill logo">
    <div>
        <a href="main.html">Home</a>
        <a href="#burger prediction">burger prediction</a>
        <!--Dropdown menu in the navbar-->
        <div class="dropdown">
            <!--What will be displayed in the navbar-->
            <button class="schedule-button">schedule
                <i></i>
            </button>
            <!--Dropdown menu choices that shows up when you hover the schedule button-->
            <div class="schedule-dropdown">
                <a href="#weekly-schedule">Weekly schedule</a>
                <a href="#schedule-wishes">Schedule Wishes</a>
            </div>
        </div>
        <a href="inventory.html">Inventory</a>
        <a href="#checklist">Checklist</a>
        <a href="#login">
            <img id="logout_icon" src="/static/images/logout.png" alt="logout icon"> </a>
    </div>
</div>


<div class="container">
</div>
<h1 id="create-inventory-header">Create Inventory</h1>
<div class="create-inventory-form">

    <form action="" method="post" class="create-inventory-form" id="inventory-form">

        <div class="top-area">
            <!--<div class ="product-segment">
                <label for="product-id">Id</label>
                <input type="number" id="product-id" class="product-id" readonly placeholder="Id" autocomplete="on"></div>-->

            <div class ="product-segment">
                <label for="product-name">Name</label>
                <input type="text" id="product-name" class="product-name" placeholder="Name" autocomplete="off"></div></div>

        <div class="bottom-area">
            <div class ="product-segment">
                <label for="product-type">Type</label>
                <select name="type" id="product-type" ></select></div>

            <div class ="product-segment">
                <label for="product-quantity">Quantity</label>
                <input type="number" id="product-quantity" class="product-quantity" placeholder="Quantity" autocomplete="off"></div></div>

        <div class="two-button">
            <div class ="save-button">
                <input type="button" value="Save" id="save-button"></div>

            <div class ="cancel-button">
                <input type="button" value="Cancel" id="cancel-button"></div></div>
    </form>
</div>

<script src="../static/js/create-inventory.js"></script>

</body>
</html>



